*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::selection{
  background-color: #066845;
  color: white;
}
body{
  background-color: white;
}


 /*navbar*/

.navbar-nav .nav-item .nav-link{
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}
 

.btnnnnn {
  
  background-color: transparent;
  color: #066845;
  border: 2px solid #066845;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 110px;
  height: 40px;
  margin-right: 20px;
}

/* Animation styles */
.btnnnnn::before,
.btnnnnn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  color: white !important;
  background-color: #066845; /* Green color */
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
.btnnnnn:hover{
  color: white !important;
}

.btnnnnn::before {
  left: 0;
}

.btnnnnn::after {
  right: 0;
}

.btnnnnn:hover::before,
.btnnnnn:hover::after {
  width: 50%;

}

/* Animation keyframes */
@keyframes expandFromLeft {
  0% { width: 0; }
  100% { width: 50%; }
}

@keyframes expandFromRight {
  0% { width: 0; }
  100% { width: 50%; }
}

.btnnnnn:hover::before {
  animation: expandFromLeft 0.3s forwards;

}

.btnnnnn:hover::after {
  animation: expandFromRight 0.3s forwards;
}

.navbar-expand-lg .navbar-nav .nav-item{
  padding: 20px;
}
@media(max-width:992px){
  .navbar-brand img{
      margin-left: 90px !important;
  }
   .btnnnnn{
     margin: 20px !important;
   }
   

  
}
@media(max-width:520px){
  .navbar-brand img{
    margin-left: 0px !important;
  }
}
@media(max-width:425px){
     .navbar-brand img{
      width: 120px !important;
      height: 60px !important;
     }
}


/*Home Page*/
.overlay{
  height: 100%;
  background:rgba(0,0,0,0.);
}
.boxcar{
 position: relative;
 top: 290px;
 color: white;
 
}
.carh1{
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}
.carp{
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}
.boxbtn button{
  width: 130px;
  height: 50px;
  border-radius: 40px;
  border: none !important;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;

}



@media(max-width:991px){
  .boxcar{
    top: 200px;
    
   }
}
@media(max-width:600px){
  .carh1{
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  .carp{
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
  }
}
@media(max-width:450px){
  .boxcar{
    top: 170px;
    
   }
}
/* Check Availibilty */
.animated-button {
  
  background-color: transparent;
  color: #066845;
  border: 2px solid #066845;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 40px;
}

/* Animation styles */
.animated-button::before,
.animated-button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  color: white !important;
  background-color: #066845; /* Green color */
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
.animated-button:hover{
  color: white !important;
}

.animated-button::before {
  left: 0;
}

.animated-button::after {
  right: 0;
}

.animated-button:hover::before,
.animated-button:hover::after {
  width: 50%;

}

/* Animation keyframes */
@keyframes expandFromLeft {
  0% { width: 0; }
  100% { width: 50%; }
}

@keyframes expandFromRight {
  0% { width: 0; }
  100% { width: 50%; }
}

.animated-button:hover::before {
  animation: expandFromLeft 0.3s forwards;

}

.animated-button:hover::after {
  animation: expandFromRight 0.3s forwards;
}
.Availabilty-form{
   width: 100%;
    margin-top: 0px;
    z-index: 2;
    position: relative;
    
    
   
}

 @media screen and(max-width:575px){
    .Availabilty-form{
        margin-top: 10px !important;
        padding: 0px 35px;
    }
 }
 

 
/*** About ***/
#aboutcon123{
    height: auto;
    
}

.section-title {
    position: relative;
    display: inline-block;
    color: #066845;
}
.abouth6{
    color: #066845;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}



.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}

#abtimg{
  height: 400px;
}
#abtbtn {
  
  background-color: transparent;
  color: #066845;
  border: 2px solid #066845;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 40px;
}

/* Animation styles */
#abtbtn::before,
#abtbtn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  color: white !important;
  background-color: #066845; /* Green color */
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
#abtbtn:hover{
  color: white !important;
}

#abtbtn::before {
  left: 0;
}

#abtbtn::after {
  right: 0;
}

#abtbtn:hover::before,
#abtbtn:hover::after {
  width: 50%;

}

/* Animation keyframes */
@keyframes expandFromLeft {
  0% { width: 0; }
  100% { width: 50%; }
}

@keyframes expandFromRight {
  0% { width: 0; }
  100% { width: 50%; }
}

#abtbtn:hover::before {
  animation: expandFromLeft 0.3s forwards;

}

#abtbtn:hover::after {
  animation: expandFromRight 0.3s forwards;
}


/* Carousel room */
  .roombox{
    height: 250px;
    border: 1px solid #ececec;
  }

 .roombxx{
  transition: all 0.2s ease-in-out;
 }
 .roombxx:hover{
filter: brightness(60%);
 }
 .roombox h4{
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  color: #066845;
 }
 .roombox p{
  font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height:1.5;
    padding-left: 5px;
    padding-right: 5px;

  }
  #rmbtn {
  
    background-color: transparent;
    color: #066845;
    border: 2px solid #066845;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 40px;
  }
  
  /* Animation styles */
  #rmbtn::before,
  #rmbtn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    color: white !important;
    background-color: #066845; /* Green color */
    top: 0;
    transition: width 0.3s ease-in-out;
    z-index: -1;
  }
  #rmbtn:hover{
    color: white !important;
  }
  
  #rmbtn::before {
    left: 0;
  }
  
  #rmbtn::after {
    right: 0;
  }
  
  #rmbtn:hover::before,
  #rmbtn:hover::after {
    width: 50%;
  
  }
  
  /* Animation keyframes */
  @keyframes expandFromLeft {
    0% { width: 0; }
    100% { width: 50%; }
  }
  
  @keyframes expandFromRight {
    0% { width: 0; }
    100% { width: 50%; }
  }
  
  #rmbtn:hover::before {
    animation: expandFromLeft 0.3s forwards;
  
  }
  
  #rmbtn:hover::after {
    animation: expandFromRight 0.3s forwards;
  }
 
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: black;
  height: 100%;
  width: 100%;

}
#card{
  
  transition: 1s;
  overflow: hidden;
}
#card:hover{
transform: scale(1.1,1.1);
}
#card1{
  
  transition: 1s;
  overflow: hidden;
}
#card1:hover{
transform: scale(1.1,1.1);
}
#card2{
  
  transition: 1s;
  overflow: hidden;
}
#card2:hover{
transform: scale(1.1,1.1);
}
#card3{
  
  transition: 1s;
  overflow: hidden;
}
#card3:hover{
transform: scale(1.1,1.1);
}
.popup img {
  max-width: 90%;
  max-height: 90%;
 position: relative;
left: 250px;
top: 50px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
@media(max-width:1300px){
  .popup img{
    left: 50px !important;
  }
}
@media(max-width:650px){
  .popup img{
    left: 10px !important;
  }
}


@media(max-width:991px){
  #card2{
    padding-top: 25px;
  }
  #card3{
    padding-top: 25px;
  }
}
@media(max-width:770px){
  #card1{
    padding-top: 25px;
    height: 500px !important;
    width: 400px !important;
  }
  #card,#card2,#card3{
    height: 500px !important;
    width: 400px !important;
  }
  
}


/* backdrop*/
#backdrop{
  width: 100%;
  height: 60vh;
  background: rgba(0,0,0,0.6) url(./images/Home-1/aa.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}
#backdrop11{
  width: 100%;
  height: 60vh;
  background: rgba(0,0,0,0.6) url(./images/header.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}
#backdrop1{
  background-color: red;
  height: 100vh;

}
.backpara{
  color: white;
  font-size: 35px;
  position: relative;
  top: 150px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  
  
}
.backpara1{
  color: white;
  font-size: 25px;
  position: relative;
  top: 160px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}
@media(max-width:500px){
  .backpara{
    top: 130px;
}
.backpara1{
  top: 135px;

}
}
/*Facilities*/
.card-service {
  position: relative;
  transition: .6s;
}

.card-service:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px #ccc;
}

.card-service .service-icon {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: -35px;
  left: 50%;
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background-color:#066845;;
}

.card-service .service-content {
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 60px 25px 30px;
  margin: 60px 0 20px 0;
  transition: all 0.3s ease-in-out 0s;
}

.card-service .service_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  color: #066845;
}

.card-service .service-content a:hover,
.card-service .service-content a:focus {
  text-decoration: none;
}

.card-service .service-content a:hover h4,
.card-service .service-content a:focus h4 {
  color: #066845;
}

.card-service .service_desc {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.card-service .service-icon i {
  color: #ffffff;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-service .service-icon.fa-1x {
  width: 30px;
  height: 30px;
  top: -15px;
  left: calc(50% - 15px);
  font-size: 16px;
}

.card-service .service-icon.fa-1x i {
  font-size: 16px;
  line-height: 30px;
}

.card-service .service-icon.fa-2x {
  width: 40px;
  height: 40px;
  top: -20px;
  left: calc(50% - 20px);
  line-height: 40px;
  font-size: 18px;
}

.card-service .service-icon.fa-2x i {
  font-size: 18px;
  line-height: 40px;
}

.card-service .service-icon.fa-3x {
  width: 50px;
  height: 50px;
  top: -25px;
  left: calc(50% - 25px);
  line-height: 50px;
  font-size: 22px;
}

.card-service .service-icon.fa-3x i {
  font-size: 22px;
  line-height: 50px;
}

.card-service .service-icon.fa-4x {
  width: 60px;
  height: 60px;
  top: -30px;
  left: calc(50% - 30px);
  line-height: 60px;
  font-size: 25px;
}

.card-service .service-icon.fa-4x i {
  font-size: 25px;
  line-height: 60px;
}

.card-service .service-icon.fa-5x {
  width: 70px;
  height: 70px;
  top: -35px;
  left: calc(50% - 35px);
  line-height: 70px;
  font-size: 30px;
}

.card-service .service-icon.fa-5x i {
  font-size: 30px;
  line-height: 70px;
}

.card-service:hover .service-icon {
  border-radius: 50%;
}

.card-service .service-icon-image {
  margin-bottom: 20px;
}
#theme-btn {
  
  background-color: transparent;
  color: #066845;
  border: 2px solid #066845;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 140px !important;
  height: 40px !important;
}

/* Animation styles */
#theme-btn::before,
#theme-btn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  color: white !important;
  background-color: #066845; /* Green color */
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
#theme-btn:hover{
  background-color: #066845 !important;
  color: white !important;
}

#theme-btn::before {
  left: 0;
}

#theme-btn::after {
  right: 0;
}

#theme-btn:hover::before,
#theme-btn:hover::after {
  width: 50%;

}

/* Animation keyframes */
@keyframes expandFromLeft {
  0% { width: 0; }
  100% { width: 50%; }
}

@keyframes expandFromRight {
  0% { width: 0; }
  100% { width: 50%; }
}

#theme-btn:hover::before {
  animation: expandFromLeft 0.3s forwards;

}

#theme-btn:hover::after {
  animation: expandFromRight 0.3s forwards;
}
/*testimonial */
 
.testimonial-section{
  border: 2px solid white;
}
  
  .inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  .testih5{
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
  }
  
  .testimonial-section h1{
    color: white;
    font-size: 24px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .bordertesti{
    width: 100px;
    height: 3px;
    background: white;
    margin: 20px auto;
  }
  
  .testimonial{
    border-top: 2px solid white;
    background: rgba(0 ,0,0,0.6);
    color: white;
    padding: 40px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .test-info{
    display: flex;
    height: 60px;
    align-items: center;
  }
  
  .test-pic{
    width: 50px !important;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .test-name{
    font-size: 20px;
    color: white;
    
  }
  
  .test-name span{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .testimonial p{
    font-size: 17px;
    line-height: 22px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }





  


  /*offer n pacakges*/
 #offer{
  height: auto;
 }
 #offer1{
  border: 2px solid #ececec;
  height: 500px;
  width: 400px;
  margin: 10px;
 }
 #offer2{
  border: 2px solid #ececec;
  height: 500px;
  width: 400px;
  margin: 10px;
 }
 #offer3{
  border: 1px solid #ececec;
  height: 500px;
  width: 400px;
  margin: 10px;
 }
 .imagesbox img{
  padding-top: 10px;
 width: 100%;
 height:300px;
 }
 .contenth3{
  padding-top: 10px;
  color: #066845;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
 }
 #offbtn {
  
  background-color: transparent;
  color: #066845;
  border: 2px solid #066845 !important;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 40px;
}

/* Animation styles */
#offbtn::before,
#offbtn::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  color: white !important;
  background-color: #066845; /* Green color */
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
#offbtn:hover{
  color: white !important;
}

#offbtn::before {
  left: 0;
}

#offbtn::after {
  right: 0;
}

#offbtn:hover::before,
#offbtn:hover::after {
  width: 50%;

}

/* Animation keyframes */
@keyframes expandFromLeft {
  0% { width: 0; }
  100% { width: 50%; }
}

@keyframes expandFromRight {
  0% { width: 0; }
  100% { width: 50%; }
}

#offbtn:hover::before {
  animation: expandFromLeft 0.3s forwards;

}

#offbtn:hover::after {
  animation: expandFromRight 0.3s forwards;
}


 /*counter*/
 
 #counteroffer {
  
  height: 100vh  !important;
  background: rgba(0, 0, 0, 0.985)url(./images/Bar\ -\ Silvanus.jpg);
  background-position: center;
  background-size: cover;
  
}



.counter {
  color: white !important;
  font-size: 40px;

}

@media(max-width:992px){
  #counterow{
    padding-top: 200px !important;
  }
  #countercol{
    padding-top: 20px !important;

  }
}
@media(max-width:770px){
  #counterow{
    padding-top: 40px !important;
  }
  #countercoll{
    padding-top: 20px !important;

  }
}

    

    
  /*Footer*/
 

  ul{
    list-style: none;
 }
  img {
    max-width: 100%;
    height: auto;
  }
  section {
    padding: 60px 0;
    /* min-height: 100vh;*/
  }
  .roomsh32{
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .main-footer {
    position: relative;
    padding: 70px 0px 0px;
    background-color: #f4f5f7;
    background-repeat: repeat-x;
    background-position: right bottom;
  }
  
  .main-footer .footer-widget {
    position: relative;
    margin-bottom: 40px;
  }
  
  .main-footer .widgets-section {
    position: relative;
    padding-bottom: 60px;
  }
  
  .main-footer .footer-widget h2 {
    position: relative;
    left: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #161c42;
    line-height: 1.2em;
    margin-bottom: 30px;
    margin-top: 25px;
    text-transform: capitalize;
  }
  
  .main-footer .about-widget {
    position: relative;
  }
  
  .main-footer .about-widget .logo {
    position: relative;
    margin-bottom: 15px;
    width: 210px;
  }
  .main-footer .about-widget .text {
    position: relative;
  }
  
  .main-footer .about-widget .text p {
    position: relative;
    color: #8a8d91;
    font-size: 16px;
    line-height: 1.7em;
    margin-bottom: 20px;
  }
  
  .main-footer .about-widget .text p:last-child {
    margin-bottom: 0px;
  }
  
  /* Footer List */
  
  .main-footer .footer-list {
    position: relative;
  }
  
  .main-footer .footer-list li {
    position: relative;
    margin-bottom: 17px;
  }
  
  .main-footer .footer-list li a {
    position: relative;
    color: gray;
    font-size: 16px;
    padding-left: 15px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .main-footer .footer-list li a:hover {
    text-decoration: underline;
    color: #066845;
  }
  
  .main-footer .footer-list li a:before {
    position: absolute;
    content: "\f105";
    left: 0px;
    top: 0px;
    color: #8a8d91;
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
  }
  
  /*Gallery Widget*/
  
  .main-footer .gallery-widget {
    position: relative;
    max-width: 350px;
  }
  
  .main-footer .gallery-widget .images-outer {
    position: relative;
    margin: 0px -3px;
  }
  
  .main-footer .gallery-widget .image-box {
    position: relative;
    float: left;
    width: 33.333%;
    padding: 0px 5px;
    margin-bottom: 10px;
  }
  
  .main-footer .gallery-widget .image-box img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .main-footer .gallery-widget .image-box img:hover {
    opacity: 0.7;
  }
  
  /* Info List */
  
  .main-footer .info-list {
    position: relative;
  }
  
  .main-footer .info-list li {
    position: relative;
    color: #8a8d91;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 12px;
  }
  
  .main-footer .info-widget .social-links {
    position: relative;
    float: left;
    padding: 15px 0px;
  }
  
  .main-footer .info-widget .social-links li {
    position: relative;
    margin-right: 8px;
    display: inline-block;
  }
  
  .main-footer .info-widget .social-links li:last-child {
    margin-right: 0px;
  }
  
  .main-footer .info-widget .social-links li a {
    position: relative;
    left: 25px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .main-footer .info-widget .social-links li.google a {
    background-color: #066845;
  }
  
  .main-footer .info-widget .social-links li.facebook a {
    background-color: #066845;
  }
  
  .main-footer .info-widget .social-links li.twitter a {
    background-color: #066845;
  }
  
  .main-footer .info-widget .social-links li.instagram a {
    background-color: #066845;
  }
  
  .main-footer .info-widget .social-links li.vimeo a {
    background-color: #066845;
  }
  
  .main-footer .footer-bottom {
    position: relative;
    padding: 20px 0px;
    border-top: 1px solid #e5e5e5;
  }
  
  .main-footer .footer-bottom .footer-nav {
    position: relative;
    text-align: right;
  }
  
  .main-footer .footer-bottom .footer-nav li {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    line-height: 1.1em;
    display: inline-block;
    border-right: 1px solid #8a8d91;
  }
  
  .main-footer .footer-bottom .footer-nav li:last-child {
    padding-right: 0px;
    margin-right: 0px;
    border-right: none;
  }
  
  .main-footer .footer-bottom .footer-nav li a {
    position: relative;
    color: #8a8d91;
    font-size: 15px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .main-footer .footer-bottom .footer-nav li a:hover {
    color: #066845;
    text-decoration: underline;
  }
  
  

.whatsapp{
  position: fixed;
  right: 40px;
  bottom: 170px;

}
  .back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


  /*** Button ***/
.backbtn {
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
  background-color: #066845;
  color: white;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}















